<div id='infoWindowDiv'>
    <table id="timetable">
      <tr>
         <td style="width:105px"><strong>Location's name :</strong></td>
         <td>{{ name|raw }}</td>
      </tr>
      <tr class="blank_row"></tr>
      <tr>
         <td>Monday</td>
         <td><input id="sliderMonday" type="slider" name="area" value="{{ scheduleMonday|raw }}" /></td>
      </tr>
      <tr>
         <td>Tuesday</td>
         <td><input id="sliderTuesday" type="slider" name="area" value="{{ scheduleTuesday|raw }}" /></td>
      </tr>
      <tr>
         <td>Wednesday</td>
         <td><input id="sliderWednesday" type="slider" name="area" value="{{ scheduleWednesday|raw }}" /></td>
      </tr>
      <tr>
         <td>Thursday</td>
         <td><input id="sliderThursday" type="slider" name="area" value="{{ scheduleThursday|raw }}" /></td>
      </tr>
      <tr>
         <td>Friday</td>
         <td><input id="sliderFriday" type="slider" name="area" value="{{ scheduleFriday|raw }}" /></td>
      </tr>
      <tr>
         <td>Saturday</td>
         <td><input id="sliderSaturday" type="slider" name="area" value="{{ scheduleSaturday|raw }}" /></td>
      </tr>
      <tr>
         <td>Sunday</td>
         <td><input id="sliderSunday" type="slider" name="area" value="{{ scheduleSunday|raw }}" /></td>
      </tr>
   </table>
   <br>
   <label><input type='checkbox' onclick="return false;" {% if freeConnection == 1 %}checked='checked'{% endif %} /> free internet connection</label><br>
   <label><input type='checkbox' onclick="return false;" {% if freeCoffee   == 1 %}checked='checked'{% endif %} /> free coffee</label>
   <br><br>                  
   Poster rating : {% if rating >0 %} {{ rating }}/5 {% else %} Not rated by poster {% endif %}

   <br> 
   <br>                
   <a href='javascript:void(0)' id='addLocation' onclick='$.disqusFunctions.reloadWithMarkerId({{ id }})'>Read comments</a><br/>
   
   {% if userCanEdit == true %}
   <!--<a href='javascript:void(0)' id='addLocation' onclick=''>Update this location</a><br/>-->
   <a href='javascript:void(0)' id='removeLocation' onclick='$.ggMapsFunctions.removeMarker({{ id }})'>Remove this location</a><br/>
   {% endif %}   


</div>